<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/signup.css">
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>   


</head>
<body>

   <div class="logo">
      <img src="designImages/logo.png" alt="">
   </div>
   <div id="head">
      <h2>Log In</h2>
   </div>
   <%if(activeError){%>
      <p class="error activeError"><%=activeError%></p>
   <%}%>   
   <div id="form">
      <form action="loginForm" method="post">
         <p class="error"><%=errors.email%></p>
         <input class='form_inp' type="text" name='email' placeholder="email ">
         <p class="error"><%=errors.password%></p>
         <input class='form_inp' type="password" name='password' placeholder="password">
         <button id="submit">Log In</button>
      </form>
   </div>
   
   <div class="link">
      <p>If you haven`t account click here! <span><a class="logLink" href="/signup">Registration</a></span></p>
   </div>

 
   
</body>
</html>