<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>  
   <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
   <link rel="stylesheet" href="css/photos.css">
</head>
<body>
    <!-- navbar start -->
  <header>
    <%-include( './partials/header',{user:user})%>
   
 </header>
 <!-- navbar end -->

  <div id="main">
      <a href="/profile" class="backLink">  Back To Profile</a>
   <div id="addPhoto">
      <form method="post" action="/addPhoto"  enctype="multipart/form-data"> 
         <h2>Add Photo</h2>
         <input type="file" name="photo"> 	
         <button>Add Photo</button>   	
      </form>
   </div>
   <div id="photos">
      <h3 class="photosHead">Your Photos</h3>
      <div id="allPhotos">
    
         <% photos.forEach((i)=>{ %>
            <div class="image">
               <img src="<%=i.name%>">
               
               <button id='del' data-id=<%=i.id%>>Delete</button>
               <button id='set' data-id="<%=i.id%>">Set a Avatar</button>
               
   
            </div>
         <%})%>
      </div>
   </div>
   
   
  </div>
</body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
   <script src="js/photos.js"></script>
</html>