body{
   padding: 0;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header css */

nav.navbar.navbar-light{
	background: #4A76A8;
 }
 nav.navbar a.navbar-brand{
 color: #fff;
 }
 ul.navbar-nav{
	margin-block-end: 0;
	margin-block-start: 0;
	align-items: center;
 }
 ul.navbar-nav li.nav-item a.nav-link{
	margin: 0 5px ;	 
 	color: #fff;
 	font-size: 15px;
 }
 .navbar-brand{
	transform:translateY(-50%) ;
	 width: 30px;
	 height: 30px;
	 /* margin-bottom: 10px	; */
	 /* text-align: center; */
 }

 .navbar-brand > img{
	 width: 40px;
	 height: 40px;
 }
 ul.navbar-nav li.nav-item a.nav-link .linkIcon{
	 margin-right: 5px;
	 font-size: 13px;
 }
 .dropdown-menu{
	 background-color:#4A76A8 ;
 }
 .containerHead{
	 width: 85%;
	 margin: auto;
 }
header{
	background: #4A76A8;
}
#navbarDropdown{
	display: flex;
}
#headerAvatar{ 
	margin-right: 5px;

	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
}
#dropName{
	font-size: 15px;
}

#headerAvatar > img{
	width: 100%;
	height: 100%;

}
#searchInp{
	width: 130px;
	border-radius: 5px;
	padding-left: 10px;
	margin:5px 10px;
	box-sizing: border-box;
}

#edit{
   text-align: center;
   width: 75%;
   height: auto;
   padding:30px 0;
   /* border: 2px solid; */
   margin: auto;
   box-sizing: border-box;
}
form{
   background-color: white;
   /* background: transparent; */
   /* background-color: #EDEEF0; */
   margin: auto;
   width: 50%;
   /* border: 2px solid red; */
}
#edit > form > label{
   display: block;
   font-size: 20px;
}
#edit > form > input{
   padding: 10px;
   transition: 0.3s;
   border-radius: 14px;
}
#edit > form > input:hover{
   background-color:#D2D3D5;
   
}
#btn{
   width: 200px;
   margin: auto;
   height: auto;
   /* border: 2px solid; */

}
.editBtn{
   display: block;
   width: 100px;
   background: #718BA8;
   color: white;
   margin: auto;
   margin:10px 0;
   border: none;
   text-align: center;
   transition: 0.3s;
}
.editBtn:hover{
   opacity: 0.8;
}
.backLink{
   display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #718BA8;
  margin: 20px;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 50px;
  font-family: sans-serif;
  transition: 0.5s;
}
.backLink:hover{
	color: black;
}
#editHead{
   font-weight: 400;
}
