body{
   padding: 0;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#edit{
   text-align: center;
   width: 75%;
   height: auto;
   padding:30px 0;
   /* border: 2px solid; */
   margin: auto;
   box-sizing: border-box;
}
form{
   background-color: white;
   /* background: transparent; */
   /* background-color: #EDEEF0; */
   margin: auto;
   width: 50%;
   /* border: 2px solid red; */
}
#edit > form > label{
   display: block;
   font-size: 20px;
}
#edit > form > input{
   padding: 10px;
   transition: 0.3s;
   border-radius: 14px;
}
#edit > form > input:hover{
   background-color:#D2D3D5;
   
}
#btn{
   width: 200px;
   margin: auto;
   height: auto;
   /* border: 2px solid; */

}
.editBtn{
   display: block;
   width: 100px;
   background: #718BA8;
   color: white;
   margin: auto;
   margin:10px 0;
   border: none;
   text-align: center;
   transition: 0.3s;
}
.editBtn:hover{
   opacity: 0.8;
}
.backLink{
   display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #718BA8;
  margin: 20px;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 50px;
  font-family: sans-serif;
  transition: 0.5s;
}
.backLink:hover{
	color: black;
}
#editHead{
   font-weight: 400;
}
